*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 20px;
}
h1{
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 30px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
#word-count{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #555;
    margin-bottom: 20px;
}
#character-count{
    text-align: center;
    font-size: 30px;
    color: #777;
    margin-bottom: 20px;
}
#unique-words{
    text-align: center;
    font-size: 30px;
    color: #777;
}